---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pub_date.valueOf() - a.data.pub_date.valueOf(),
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main class="w-screen-2xl mx-auto">
      <section>
        <ul class="flex flex-wrap gap-8 list-none m-0 p-0">
          {
            posts.map((post) => (
              <li class="w-[calc(50%-1rem)] [&:first-child]:w-full [&:first-child]:mb-4 [&:first-child]:text-center">
                <a href={`/blog/${post.id}/`} class="block no-underline transition ease-[cubic-bezier(0.4,0,0.2,1)]">
                  <img 
                    width={720} 
                    height={360} 
                    src={post.data.hero_image} 
                    alt="" 
                    class="mb-2 rounded-[12px] [&:hover]:shadow-lg"
                  />
                  <h4 class="m-0 text-[2.369rem] text-black leading-none [&:hover]:text-accent">
                    {post.data.title}
                  </h4>
                  <p class="m-0 text-gray [&:hover]:text-accent">
                    <FormattedDate date={post.data.pub_date} />
                  </p>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
